
body {
    background-color:purple;
    padding: 0px;
    margin: 0px;
    }
.main {
    color:white;
    background-color:black;
    display: flex;
    justify-content: space-between;
    height:50px;
    align-items: center;
    padding:20px;
}